.our-roadmap .home-demo {
 
    overflow: hidden;}
.home-demo h2 {
    font-size: 22px;
    color: #FFF;
    text-align: start;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}

.color-d9{
    color: #d94934 !important;
}